---
BasedOnStyle: Google
IndentWidth: 4
IndentCaseLabels: true
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakAfterReturnType: TopLevelDefinitions
